.message-wrap{
    border: 2px solid black;
    padding: 5px 10px 5px 3px;
    width: fit-content;
    max-width: 50%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.user{
    font-size: larger;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.message{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 400;
}